
/*--------------------------------------------------------------*/
body{
	background-color: #edeef2;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #424242;
}

section{
	margin: 0 !important;
	overflow: auto !important; /*eliminar espacio entre sections*/
}

a {
	color: red;
}



/*------FONTS-------------*/
.logo-font{
	font-family: 'Righteous', cursive !important;
}

.slogan-font{
	font-family: 'Poppins', sans-serif;
}

b .b{
	font-weight: 700 !important;
}


/*---------------------------------------*/
p{
	font-size: 1.1em !important;
}

.justify{
	text-align: justify !important;
}

.margin-abajo{
	margin-bottom: 50px;
}

.margin-arriba{
	margin-top: 50px !important;
}

.margin-abajo2{
	margin-bottom: 100px;
}

.margin-arriba2{
	margin-top: 100px;
}

.padd-arriba{
	padding-top: 50px !important;
}

.padd-abajo{
	padding-bottom: 50px !important;
}

.padd-arriba2{
	padding-top: 100px !important;
}

.padd-abajo2{
	padding-bottom: 100px !important;
}

.no-padd{
	padding: 0px !important;
}

.no-margin{
	margin: 0px !important;
}
/*
vw ->with
vh-> height
*/
.screenFiller {
	min-height: 100vh !important;
}

.halfFiller{
	min-height: 50vh !important;
}

.mobFiller100-50{
	min-height: 100vh;
}

.mobFiller100-auto{
	min-height: 100vh;
}

.mobFiller50-auto{
	min-height: 50vh;
}

/*--INTRO--*/
#Intro{
	background-color: #191c24 !important;	
}
.wallInit{
	background:url("/imgs/wallCarlosArriaga.jpg") no-repeat;
	/* background-color: #191c24 !important; */
	background-position: left top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

nav{
	background-color: rgba(5, 5, 5, 0) !important;
}

.nav-social{
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all .6s !important; /* Safari */
	transition: all .6s !important;
}

.nav-social:hover{
    color: #ffffff !important;
}

.nav-logo{
    width: 100px; 
    margin-top: 15px;
}

.intro-logo{
    width: 240px; 
}


/*-------------FOOTER--------------*/
footer{
	background-color: #121419 !important;
}

a.redes:-webkit-any-link{
	-webkit-transition: all .6s !important; /* Safari */
	transition: all .6s !important;
	color: rgba(255, 255, 255, 0.2);
	padding-bottom: 20px !important;
}

a.redes:-webkit-any-link:hover{
	color: #fff !important;
}



/*--TABLET--*/
/*--PANTALLAS DE 992PX Y MENORES--*/
@media only screen and (max-width : 992px) {
	/*-----INTRO------*/
}



/*--SMARTPHONES--*/
/*--PANTALLAS DE 600PX Y MENORES--*/
@media only screen and (max-width : 600px) {
	
}

