body{
	background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
}

form {
	font-size: 24px;
	padding: 10px;

	color: white;
	text-shadow: 0px 0px 0px #fff;
	-webkit-text-fill-color: transparent;
}


form::-webkit-input-placeholder{
	color:
		text-shadow: none;
	-webkit-text-fill-color: initial;
}

p{
	font-size: 1.1em !important;
}


.panel {
	height: 100%;
	width: 100%;
}

nav div{
	padding-left: 100px;
	padding-right: 100px;
}

.justify{
	text-align: justify !important;
}

.margen-abajo{
	margin-bottom: 50px;
}

.margen-arriba{
	margin-top: 50px;
}

.margen-abajo2{
	margin-bottom: 100px;
}

.margen-arriba2{
	margin-top: 100px;
}

.padd-arriba{
	padding-top: 50px !important;
}

.padd-abajo{
	padding-bottom: 50px !important;
}

.padd-arriba2{
	padding-top: 100px !important;
}

.padd-abajo2{
	padding-bottom: 100px !important;
}

.no-padd{
	padding: 0px !important;
}

.no-margin{
	margin: 0px !important;
}
/*
vw ->with 
vh-> height
*/
.screenFiller {
	min-height: 100vh;
}

.halfFiller{
	height: 50vh;
}

.mobFiller100-50{
	min-height: 100vh;
}

.mobFiller100-auto{
	min-height: 100vh;
}

.mobFiller50-auto{
	min-height: 50vh;
}


/*--------------------------------------------NAVBAR--------------------------------------*/
.transparent2 {
	background-color: rgba(0, 0, 0, 0.14) !important;
}

.navbar-style a{
	font-weight: 300;
	color: #ffffff;
	padding-left: 20px;
	-webkit-transition: all 1s !important; /* Safari */
	transition: all 1s !important;
}

.navbar-style a:hover{
	color: #36d7b6;
}

.navbar-style a.active{
	color: #36d7b6;
}

/*----------------------------------HERO--------------------------------*/
.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
/*
	bottom: 0%;
	left: 0%;
*/
/*	height: inherit;*/
/*	width: inherit;*/
/*	overflow: hidden;*/
	background: #1c1f26;
}
.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	/*	background: rgba(0, 0, 0, 0.4);*/
	height: 100vw;
}
.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
.video-container video.fillWidth {
	width: 100vw !important;
}
/*---*/
.hero-content{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.hero-mob{
	background: url('/imgs/parallax.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	min-height: 550px;
}

.hero-mob .container {
	display: table-cell;
	text-align: center;
	color: white;
	vertical-align: middle !important;
	height: 689px
}

/*--------------------------------------------INTRO--------------------------------------*/

div {
	transition: opacity 1s;
}

.hover_me {
	cursor:pointer;
	-webkit-transition: .4s;
	transition: .4s;
	display:block;    
	line-height:30px;
	text-align:center;
}

.show_me {
	opacity: 0;
}


.hover_me:hover + .show_me {
	color: #ffffff;
	opacity: 1;
}

/*
div.intro-sms {		

padding: 0px 0px 0px 0px;
display: none;
}

span.intro{
min-height: 260px !important;
-webkit-transition: all 0.5s !important;  Safari 
transition: all 0.5s !important;
}

span.intro:hover + div.intro-sms {
display: block;
}

span.intro a{
color: #000000 !important;
}
*/


.mini{
	height: 275px !important;
}

.mini2{
	height: 275px !important;
}

.service{
	margin: 15px 20px 15px 20px;
}

.serv-icon{
	padding: 5px;	
}

.somos{
	/*	padding-left: 80px !important;*/
}

.margen{
	margin: 150px 0px 100px;
}

.text-card{
	padding: 200px 200px 30px 40px !important;	
	height: 550px !important;
}

.text-card img{
	padding-top: 20px !important;
	padding-left: 50px !important;
}

.text-card-border{
	padding-left: 20px !important;
	margin-left: 10px !important;
	border-left: 10px solid #ffffff;
}

.intro-img{
	background: url('/imgs/parallaxmob.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 550px;
}

.intro-img2{
	background: url('/imgs/parallax3.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 550px;
}

.mini-img{
	background: url('/imgs/parallax4.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 550px;
}


.mini-img2{
	background: url('/imgs/parallax5.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 550px;
}

.serv-card {
	min-height: 260px !important;
	-webkit-transition: color 0.5 s !important; /* Safari */
	transition: color 0.5s !important;
	padding: 0px 5px;
}

.serv-card:hover{
	/*	background-color: #eaeaea !important;*/
	color: #36d7b6 !important;
}

/*------------------------------------------PROCESS-------------------------------*/

i.card-icon { /* front of card */
	display: block;
	margin: 0.5rem auto 0;
	font-size: 3.5rem;	
}

/* Card design - front */
.button.large {
	margin: 0;
	padding: 3.25rem;
}

.flipTitle {
	color: white;
	font-size: 2rem;
	font-weight: 100;
	margin-top: 2rem;
}

/* Card design - back */
/*icon back*/
.panel i {
	font-size: 2rem;
	display: block;
	float: left;
	width: 20%;
	opacity: 0.5;
	padding: 25px 15px 15px 25px;
}

.panel small {
	margin-top: -0.5rem;
	font-style: italic;
}



/* Buttons Card Flipper 
* Source: http://cssdeck.com/labs/rxcleo5w
*/
.flip-cards {
	float: left;
	width: 100%;
	height: 100%;
}

.flip-cards li {
	float: left;
	width: 33.3%;
	min-height: 280px;
	position: relative;
}

/*back*/
.hub-info{
	padding: 25px 25px;
}

.card-back .card-icon {
	font-size: 2rem;	
	padding: 25px 15px 15px 25px;
}

/* Button Card Colors */
/*
.flip-cards .panel {
	border: none;
}
*/

/* color in cards */
.flip-cards li.colorFrente > .button {
	background-color: rgba(0, 0, 0, 0.3);
}
.flip-cards li.colorFrente > .panel {
	background-color: rgba(0, 0, 0, .8);	
}

.flip-cards li.colorFrente2 > .button {
	background-color: rgba(0, 0, 0, 0.5);
}
.flip-cards li.colorFrente2 > .panel {
	background-color: rgba(0, 0, 0, .8);	
}




/*
* RESPONSIVENESS -------------------------------------------------
*/
@media only screen and ( max-width: 40em ) {

	.flip-cards li {
		width: 50%;
		min-height: 280px;
		/*height: 160px;*/
	}

	.panel i {
		padding: 15px 10px 10px 15px;
	}
}

@media only screen and ( max-width: 25em ) {


	.card-icon {
		font-size: 1.35rem;
	}
	.card-back .card-icon {
		font-size: 2rem;
		margin: 0;
		padding: 20px 20 20px 20px;
	}
	.flip-cards li {
		width: 100%;
		font-size: 1.35rem;
		min-height: 220px;
	}
	.flip-cards .panel p {
/*		display: none;	*/
		font-size: 1rem !important;
	}
	.flip-cards .panel small {
		margin: 0;
	}
	.button.large {
		padding: 2rem;
	}
	
	.panel i {
		padding: 15px 10px 10px 15px;
	}
}

/*transition css*/
.flip-cards li:hover .card-front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform: perspective(1000) rotateY(180deg);
	-moz-transform: perspective(1000) rotateY(180deg);
	-ms-transform: perspective(1000) rotateY(180deg);
	-o-transform: perspective(1000) rotateY(180deg);
	transform: perspective(1000) rotateY(180deg);
}

.flip-cards li:hover .card-back {
	z-index: 950;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform: perspective(1000) rotateY(0deg);
	-moz-transform: perspective(1000) rotateY(0deg);
	-ms-transform: perspective(1000) rotateY(0deg);
	-o-transform: perspective(1000) rotateY(0deg);
	transform: perspective(1000) rotateY(0deg);
}

.flip-cards .card-front,
.flip-cards .card-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	transition: transform 0.6s;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.flip-cards .card-front {
	-webkit-transform: perspective(1000) rotateY(0);
	-moz-transform: perspective(1000) rotateY(0);
	-ms-transform: perspective(1000) rotateY(0);
	-o-transform: perspective(1000) rotateY(0);
	transform: perspective(1000) rotateY(0);
	z-index: 900;
}

.flip-cards .card-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 800;
}

/*--------------------------------------------WEB--------------------------------------*/

.webcard-left{
	padding-right: 0px !important;
}

.webcard-right{
	padding-left: 0px !important;
}

.card-img{
	background: url('/imgs/parallax6.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 237px;
}

.card-img2{
	background: url('/imgs/parallax7.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 237px;		
}

.webcard-title{
	padding-top: 100px !important;
}

.web-serv{
	height: 250px !important;
}

.features{
	padding:0px 40px 0px 40px;
}

.feature{
	padding: 15px 0px 15px 0px !important;
}

.bordes{
	border-left: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
}

.comercial-padd{
	padding:50px 150px 0px 5px !important;	
}

.comercial-padd h1{
	line-height: 40% !important;
}

.comercial-padd .more-light{
	padding-bottom: 80px;
}

.comercial-padd2{
	padding:80px 0px 0px 120px !important;	
}

.more-bold{
	font-weight: 600 !important;
}

.more-light{
	font-weight: 100 !important;
}

/*-----------------------------------------DISEÑO-----------------------------------------*/
.bordes2{
	border-left: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
}

/*-----------------------------------------SOCIAL-----------------------------------------*/
.social-serv{
	-webkit-transition: background-color 0.7s !important; /* Safari */
	transition: background-color 0.7s !important;
	padding: 20px 30px 0px 30px !important;
	/*	text-align: justify !important;*/
}

.social-serv:hover{
	background-color: rgba(54, 215, 182, 0.7);
}

.social-serv2{
	-webkit-transition: background-color 0.7 s !important; /* Safari */
	transition: background-color 0.7s !important;
	padding: 20px 30px 0px 30px !important;
	/*	text-align: justify !important;*/
	background-color: rgba(0, 0, 0, 0.3);
}

.social-serv2:hover{
	background-color: rgba(54, 215, 182, 0.7);
}


}.mkt-serv{
	padding: 5px !important;
}

.mkt-serv div{	
	border-top: 2px solid #a5a3a3 !important;	
}

/*---------------------------------------PROYECTOS-------------------------------------*/
.marcas{
	height: 117px !important;
}

.team h5, .team p{
	margin: 3px 0px; !important;
}

/*----------------------------------FOOTER-------------------------------------*/


footer{
	position: relative;
}

.footer-copyright{	
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.logo-footer{
	padding: 20px 0px;
}

/*----------------------CAMBIOS PARA PANTALLAS DE 992PX Y MENORES----------------------------------------*/
@media only screen and (max-width : 992px) {
	.hero{
		background: url('/imgs/parallaxmob.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: table;
		width: 100%; 		
	}

	.hero .container {
		padding: 0px 20px;
	}

	.miparallax {
		min-height: 400px;
	}

	.parallax-container {
		height: 120px !important;
	}



	/*intro*/
	.margen{
		margin: 0px 0px 60px;
	}

	.text-card{
		padding: 20px 20px 30px 20px !important;		
		border: none !important;
		height: auto !important;
	}

	/*web*/
	.webcard-left{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.webcard-right{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.mini2{
		height: auto !important;
	}

	.bordes{
		padding: 40px 0px 40px 0px !important;
		border-left: none !important;
		border-right: none !important;
	}

	.bordes2{
		padding: 40px 0px 40px 0px !important;
		border-left: none !important;
		border-right: none !important;
	}

	.comercial-padd{
		padding:50px 30px 0px 30px !important;	
	}

	.comercial-padd2{
		padding:30px 30px 0px 30px !important;	
	}

}

/*----------------------CAMBIOS PARA PANTALLAS DE 600PX Y MENORES----------------------------------------*/
@media only screen and (max-width : 600px) {
	.detail2{
		border: none !important;
	}

	.bordes{
		padding: 40px 0px 40px 0px !important;
		border-left: none !important;
		border-right: none !important;
	}

	.bordes2{
		padding: 40px 0px 40px 0px !important;
		border-left: none !important;
		border-right: none !important;
	}

	.padd-arriba-mob{
		padding-top: 50px !important;
	}

	.marcas{
		height: 117px !important;
		padding-top: 40px !important;
	}

	/* fillers	*/
	.mobFiller100-50{
		min-height: 50vh !important;
	}

	.mobFiller100-auto{
		height: auto !important;
	}

	.mobFiller50-auto{
		height: auto !important;
	}
}

/*-----------------------------------PARALLAX---------------------------------------------*/

.miparallax2 {
	position:relative;
	background: url('/imgs/parallax7.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 770px;
}

.miparallax3 {
	position:relative;
	background: url('/imgs/parallax5.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 400px;
	max-height: 401px !important;
}

.miparallax4 {
	position:relative;
	background: url('/imgs/parallax8.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/*	max-height: 351px !important;*/
}

.parallaxSocial {	
	background: url('/imgs/parallax9blur.png') no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wallProcess {	
	background: url('/imgs/parallax10.jpg') no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fondoContacto {	
	background: url('/imgs/parallax3.jpg') no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo{	
	padding: 130px 0px 0px 0px !important;
}

.miparallax {
	position:relative;
	background: url('../imgs/parallaxmob.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 350px;
}

.parallax-container {
	height: 150px;
}

.parallaxv {

	background: url('/imgs/logotrazo-03.svg') no-repeat left bottom;	
	-webkit-background-size: 50%;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	background-size: 50%;
	width: 100%;
	/*	max-height: 351px !important;*/
}

/*--------------detalles-----------------------*/
.color{
	background-color: #36d7b6 !important;
}

.text-color{
	color: #36d7b6 !important
}

.color2{
	background-color: #1c1f26 !important;
}

.text-color2{
	color: #a5a5a5 !important
}

