#
#HTACCESS PARA SERVER
#
###############
RewriteEngine on
RewriteCond $0 !^(index.php|css|js|imgs|robots.txt)

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$0 [PT,L]




#
#HTACCES PARA LOCALHOST
#
###########
#RewriteEngine on
#RewriteCond $0 !^(index.php|css|js|imgs|robots.txt)

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* index.php/$0 [PT,L] 